# Archivos de construcción (Temporales)
HELP.md
.gradle
build/
bin/
out/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# VS Code
.vscode/

# Sistema y Log
.DS_Store
*.log

.env